input.ng-invalid.ng-touched {
  border-color: red;
}

.popup {
  font-size: 12px;
  position: fixed;
  border: 1px solid darkblue;
  bottom: 75px;
  right: 50px;
  visibility: hidden;
}

.error {
  font-size: 12px;
  font-weight: 600;
  color: grey;
}

.myForm {
  border-right: 1px solid #343a40;

}

.footer {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #343a40;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-top: 40px;
}

