.post-card {
  border: 2px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0  auto 10px auto;
  padding: 14px;
  max-width: 600px;

}

.pag {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

li {
  list-style: none;
}

.search {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.container {
  margin-bottom: 15px;
}
