img {
  max-width: 200px;
}
.post-card {
  border: 2px solid gray;
  border-radius: 5px;
  display: flex;
  margin: 0  auto 5px auto;
  padding: 14px;
  max-width: 600px;
  flex-direction: column;

}

.pag {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
}

.search {
  display: flex;
  justify-content: center;
  padding: 15px;
}
