

.carousel {
  margin: 30px auto;
  max-width: 800px;
}

.post-card {
  border: 2px solid gray;
  border-radius: 5px;  display: flex;
  margin: 0 auto 15px auto;
  padding: 14px;
  max-width: 600px;
  flex-direction: column;
}

.allposts {
  display: flex;
  justify-content: center;
  margin: 15px;
}
